<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: #404040">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <div id="error-message" style="display: none;">Error: Please select a JPG or PNG image file</div>
    <%= form.label :images, style: "display: block" %>
    <% if post.images.attached? %>
      <div id="exist-images">
        <% post.images.each do |image| %>
          <%= image_tag image, size: "200x100" %>
        <% end %>
      </div>
    <% end %>
    <%= form.file_field :images, accept: "image/jpeg, image/png", id: "image-input", multiple: true %>
    <div id="preview-images"></div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>


<script>
const imageInput = document.getElementById("image-input");
const errorMessage = document.getElementById("error-message");
const previewImages = document.getElementById("preview-images");

imageInput.addEventListener("change", function () {
  for (const file of imageInput.files) {
    if (!file.type.match("image/jpeg") && !file.type.match("image/png")) {
      errorMessage.style.display = "block";
      imageInput.files = new DataTransfer().files;
    } else {
      errorMessage.style.display = "none";
      const reader = new FileReader();
      reader.addEventListener("load", function () {
        const dataURL = reader.result;
        const img = document.createElement("img");
        img.src = dataURL;
        img.style.width = "150px";
        previewImages.appendChild(img);
      });
      reader.readAsDataURL(file);
    }
  }
  document.getElementById("exist-images").style.display = "none";
  previewImages.style.display = "block";
});

    </script>
